<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="{% url 'homepage:index' %}">CROWDFUNDING</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'homepage:index' %}">HOME</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">ABOUT</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/profile/">MY PROFILE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Hello {{user.username}} </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/donor/sign-out/">SIGN OUT</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/donor/sign-in/">SIGN IN</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
