/* ----------------------------- Overriding Bootstrap styling ----------------------------- */

/* Button primary and Dropdown */
.btn:focus {
  box-shadow: none;
}

.btn-primary, .btn-primary.dropdown-toggle {
  border-radius: 0;
  background: #A8DB8C;
  border: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary.dropdown-toggle:focus, .btn-primary:visited, .btn-primary:not(:disabled):not(.disabled):active {
  background: #A8DB8C;
  border: none;
}

.btn-primary:focus, .btn-primary.dropdown-toggle:focus, .show > .btn-primary.dropdown-toggle:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 .2rem rgba(168, 219, 140, .25);
}

/* Navbar */

.navbar {
  background-color: #A8DB8C;
}

.mainbody{
  margin: 5vh;
}
.gambarKejadian{
  /*height: 100%;*/
  /*width: 100vw;*/
  background-repeat: no-repeat;
  /*background-size: cover; */
}
.donationbutton{
  font-size: 1.5vw;
  background-color: #A8DB8C;
  width: calc(50% - 10px);
  align-items: center;
}
.vl{
    border-left: 6px solid #A8DB8C;
    display: flex;
}
.iconProfile{
  width: 16px;
  height: 16px;
}
.fab, .fas{
  font-size: 60px;
}

/* Custom styles */
footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #A8DB8C;
  color: white;
  padding: 1em;
  margin-top: 1em;
}

footer p {
  margin: 0;
}


.program img {
  width: 100%;
  height: auto;
  text-align: center;
}

/* Form Page */
.h2{
  text-align: center;
  color: #47525E;
  font-family: "Lato", sans-serif;
}

.btn-default{
  background:#A8DB8C;
  font-family: "Lato", sans-serif;
  font-size: 18pt;
  color: white;
  margin-left: 330px;
  bottom: 30px;
}

.site-entrance{
  padding: 30px;
}

.box-entrance{
  position: relative;
  border-radius: 25px;
  margin: 0 auto;
  max-width: 500px;
  padding: 30px;
  background: #E1EDE6;
}

#checkbox_anon.form-control{
  margin-top: 5px;
  margin-right: 500px;
  width: 50px;
}

.errorlist li{
  padding: 10px;
  list-style-type: none;
  border: 1px solid #f44336;
  background: #f44336;
  color: white;
  margin: 10px 0;
  border-radius: 8px;
}

.errorlist{
  padding: 0;
}

@media only screen and (max-width: 760px) and (max-height: 900px){
  .btn-default {
    font-size: 18pt;
    margin-left: 5px;
  }
}

/*start social media*/
.fa {
  padding: 20px;
  font-size: 40px;
  border-radius:50%;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
/*end social media*/

/* USER PROFILE PAGE */
.col-sm-6 {
  margin: 0 auto;
}

.card {
  margin-top: 20px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(214, 224, 226, 0.2);
  -webkit-border-top-left-radius:5px;
  -moz-border-top-left-radius:5px;
  border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-top-right-radius:5px;
  border-top-right-radius:5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
  height: 130px;
}
.card-background img {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  margin-left: -100px;
  margin-top: -200px;
  min-width: 130%;
}
.card.hovercard .useravatar {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
}
.card.hovercard .useravatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
}
.card.hovercard .card-info .card-title {
  padding:0 5px;
  font-size: 20px;
  line-height: 1;
  color: #262626;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.card.hovercard .card-info {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}
.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}
.btn-pref .btn {
  -webkit-border-radius: 0 !important;
}

.container-log-in {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.account-wall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 30px 0px 30px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.login-title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px
}

<<<<<<< HEAD
/* PROFILE */
.profile{
  padding: 50px;
  min-height: 375px;
}
=======
/* About Page */

#about {
  margin: 1em 0;
}

#about img {
  width: 3em;
  height: 3em;
}

.testi {
  margin: 0.6em;
  border-left: 5px solid #a8db8c;
  display: flex;
  flex-direction: row;
}

.testi p {
  margin-bottom: 0.1em;
  margin-left: 0.5em;
}

#controls button {
  background: #a8db8c;
  border: none;
  border-radius: 1em;
  padding: .25em 3em;
  margin: 0.3em 0;
  cursor: pointer;
}
#sign-up-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #FFFFFF;
    background: #A8DB8C;
    line-height: 1.2;
    border-color: #A8DB8C;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;

    position: relative;
    z-index: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

#sign-up-btn::before {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    color: #FFFFFF;
    top: 0;
    left: 0;
    opacity: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

#sign-up-btn:hover {
    color: #000000;
}

#sign-up-btn:hover:before {
    opacity: 0;
}
>>>>>>> 154d4fb2687e5d2d10784ed15fceca8f9eda4418
