{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<section id="about">
  <h1>About Us</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam vero aliquam eos adipisci
    accusamus autem est facere, quis qui, hic, recusandae repellat numquam. Amet enim voluptas, laboriosam,
     quod maxime eaque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quibusdam
     veniam eos natus officia, sunt accusantium totam atque, numquam adipisci facilis consectetur
     quisquam est consequuntur. Porro repellat facilis molestias nesciunt.
   </p>

   <h3>Testimonies</h3>
   <div>
     <div id="testimonies">
       {% for testi in testimonies %}
       <div class="testi">
         <img src="{{ testi.imgUrl }}" alt="Profile Picture">
         <div>
           <p><u>{{ testi.name }}</u></p>
           <p>{{ testi.content }}</p>
         </div>
       </div>
       {% endfor %}
     </div>
     {% if loggedin %}

       <div id="controls">
         <p>Hello {{ loggedin }}! You can share your thought about us here:</p>
         <textarea id="testimony-input" name="testimony" rows="2" cols="30"></textarea>
         <form>{% csrf_token %}</form>
         <button onclick="postTestimony(event)">Submit</button>
       </div>
      {% else %}
        <div>You need to log in to comment.</div>
      {% endif %}
   </div>
</section>
{% endblock %}

{% block js %}
  <script src="{% static 'js/about.js' %}" charset="utf-8"></script>
{% endblock %}
