{% extends "baseForm.html" %}
{% load static from staticfiles %}

{% block form %}
    <div class="container-log-in">
        <div class="container">
            <div class="row justify-content-center">
                <div class="account-wall">
                    <img class="profile-img" src="{%static 'img/google-logo.png' %}" alt="Google Logo">
                    <h1 class="login-title">Please Sign In with Your Google Account</h1>
                    <div class="container" style="display: flex; align-content: center; justify-content: center">
                        <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-decoration: none">
                            <button type="button" class="btn btn-primary" id="sign-up-btn">Sign In</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="https://apis.google.com/js/client:platform.js?onload=renderButton" async defer></script>
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}