{% extends 'baseForm.html' %}

{% load staticfiles %}
{% load static %}

{% block content %}
<div class = "profile" style = "text-align : center">
    <table class="table table-bordered table-hover">
        <thead class = "table-light">
        <tr>
            <th>Progam</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        </thead>
        {% for donatur in datas %}
        <tr> 
            <td>{{ donatur.event.title}}</td>
            <td>{{ donatur.amount }}</td>
            <td>{{ donatur.time }}</td>
        </tr>
        {% endfor %}
        <!-- <tbody id = "table_content">
        </tbody> -->
    </table>
    </div>
{% endblock %}

{% block js %}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/user_profile.js' %}"><script/>
{% endblock %}