{% extends 'baseForm.html' %}

{% load staticfiles %}
{% load static %}

{% block content %}
    <div class = "site-entrance site-entrance--register">
        <div class = "box--round box-entrance">
            <section name="form">
                <h2 class="h2"><b> Hello, #GoodFellas!
                    <br>Let's help the people in need </b></h2>
                <br>
                <form id="form" method="POST" action = "{% url 'DonationForm_Submit' %}">
                    {% csrf_token %}
                    {{ donation_form.as_p}}
                    <button type="submit" class="btn btn-default"><b>Donate</b></button>
                </form>
            </section>
        </div>
    </div>
{% endblock %}