{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
  {% csrf_token %}

  <div class="mainbody jumbotron jumbotron-fluid">
    <div class="row">
      <div class="col-6">
        <img src={{data.image_src}} class="img-fluid rounded mx-auto d-block">
      </div>
      <div class="col-6">
        <h1>{{data.title}}</h1>
        <p>{{data.short_desc}}</p>
        <h2>{{data.total}}</h2>
        <div class="row">
          <p class="col-6">achieved from {{data.target}}</p>
          <div class="col-2"></div>
          <p class="col-4">10 days left</p>
        </div>
        <div class="jumbotron jumbotron-fluid">
          {% if user.is_authenticated %}
          <a href="/donationform_page" style="align-items: center;">
            <button class="donationbutton btn btn-lg">
              Donate
            </button>
          </a>
          {% else %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Launch demo modal
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">You need to login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <a href="/donor/sign-in/">                      
                      <button type="button" class="btn btn-primary">Please Login First</button>
                    </a>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}


        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="jumbotron-fluid">
          <!-- <img src="{%static "img/profile.png"%}" class="iconProfile img-fluid rounded mx-auto d-block col"> -->
          <i class="fas fa-user-tie"></i>
          <small>This fundraising started by</small>
            <h3>
              <strong>
                PT ABCD
              </strong>
            </h3>
            <small>due to {{data.due.date}}</small>
        </div>
      </div>
      <div class="col-6" style="align-self:  center;">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-facebook-square"></i>
      </div>
    </div>
  	<div class="row container">
  		<div class="col col-8">
  			<p>
  				{{data.desc|linebreaks}}</div>
  			</p>
  		<div class="col col-1 vl">
  		</div>
      <div class="col">
        <h2>Recent Donations</h2>
          {% for person in people %}
            <div>
              <h5 style="margin-top: 1.1em">
                {%if person.anonymous is False%}
                 {{person.full_name}}
                {%else%}
                  Hamba Allah
                {%endif%}
              </h5>
              <h4>
                {{person.amount}}
              </h4>
              <small>
                {{person.time}}
              </small>
            </div>
          {% endfor %}
      </div>

  	</div>
  </div>
{% endblock %}
