{% extends "base.html" %}

{% block content %}
    <div class = "site-entrance site-entrance">
        <div class = "box--round box-entrance">
            <section name="form">
                <h2 class="h2"><b> Hello, #GoodFellas!
                    <br>Let's help the people in need </b></h2>
                {% block form %}{% endblock %}
            </section>
        </div>
    </div>
{% endblock %}