{% extends "baseForm.html" %}

{% block form %}
    <form id="form" method="POST" action = "{% url 'registrationForm' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-default"><b>Donate</b></button>
    </form>
{% endblock %}